{{ define "main" }}
<div class="home">
    <div class="hero">
        <h1>Hi, I'm Vikalp</h1>
    </div>

    <section class="intro">
        {{ .Content }}
    </section>

    {{ partial "link-buttons.html" (dict "links" .Site.Params.socialLinks "class" "social-links") }}

    <section class="recent-posts">
        <h2>Writing</h2>
        <div class="post-list">
            {{ range first 10 (where .Site.RegularPages "Section" "blog") }}
            {{ partial "post-card.html" (dict "Page" . "showSummary" false) }}
            {{ end }}
        </div>
    </section>
</div>
{{ end }}